<div id="mail-confirm"
     fxLayout="column"
     fusePerfectScrollbar>

  <div id="mail-confirm-form-wrapper"
       fxLayout="column"
       fxLayoutAlign="center center">

    <div id="mail-confirm-form"
         *fuseIfOnDom
         [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

      <div class="logo">
        <mat-icon class="s-96 rk-pink-fg">email</mat-icon>
      </div>

      <div *ngIf="isVerified; then verified else needsVerification"></div>

      <ng-template #verified>
        <div class="title">Email Verified!</div>

        <div class="subtitle">
          <p>
            Thank you. Your email address has been verified.
          </p>
        </div>
      </ng-template>
      <ng-template #needsVerification>
        <div class="title">Confirm your email address!</div>

        <div class="subtitle">
          <p>
            A confirmation e-mail has been sent to
            <b>email@emailcom</b>.
          </p>
          <p>
            Check your inbox and click on the link to confirm your email
            address.
          </p>
        </div>
      </ng-template>

      <div class="message">
        <a class="link"
           [routerLink]="'/auth/login'">Go back to login page</a>
      </div>


    </div>

  </div>

</div>