<div id="forgot-password"
     fxLayout="column">

  <div id="forgot-password-form-wrapper"
       fxLayout="column"
       fxLayoutAlign="center center">

    <div id="forgot-password-form"
         [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

      <div class="logo">
        <img src="assets/images/logos/rk-forgot.png">
      </div>

      <div class="mat-title rk-orange-fg logo-font">Rescue Kick</div>

      <div>RECOVER YOUR PASSWORD</div>

      <div *ngIf="emailSent; then confirm else form"></div>

      <ng-template #confirm>
        <p>
          A password reset e-mail has been sent to
          <b>{{forgotPasswordForm.get('email').value}}</b>.
        </p>
        <p>
          Check your inbox and click on the link to reset your password.
        </p>
      </ng-template>

      <ng-template #form>
        <form name="forgotPasswordForm"
              [formGroup]="forgotPasswordForm"
              (ngSubmit)="sendResetPasswordEmail()"
              novalidate>

          <mat-form-field>
            <input matInput
                   placeholder="Email"
                   formControlName="email">
            <mat-error
                       *ngIf="forgotPasswordForm.get('email').hasError('required')">
              Email is required
            </mat-error>
            <mat-error
                       *ngIf="!forgotPasswordForm.get('email').hasError('required') && forgotPasswordForm.get('email').hasError('email')">
              Please enter a valid email address
            </mat-error>
          </mat-form-field>

          <button mat-raised-button
                  class="submit-button"
                  color="accent"
                  aria-label="SEND RESET LINK">
            SEND RESET LINK
            <mat-icon>pets</mat-icon>
          </button>
        </form>
      </ng-template>
      <div class="login"
           fxLayout="row"
           fxLayoutAlign="center center">
        <a class="link"
           [routerLink]="'/auth/login'">Go back to login</a>
      </div>

    </div>

  </div>

</div>