// MSH colors
$rk-orange: #fb7821;
$rk-pink: #f92c7e;

.rk-orange {
    color: $rk-orange;
}

.rk-pink {
    color: $rk-pink;
}

.msh-orange-bg {
    background-color: $rk-orange;
    color: #fff;
}

.rk-pink {
    background-color: $rk-pink;
    ;
    color: #fff;
}