<mat-toolbar>

    <div fxLayout="row"
         fxLayoutAlign="center center"
         fxLayoutAlign.gt-xs="space-between center"
         fxFlex>

        <a routerLink="/"
           mat-button
           class="accent"
           fxFlex="0 0 auto"
           fxLayout="row"
           fxLayoutAlign="start center">
            <mat-icon class="s-16 mr-sm-4">phone</mat-icon>
            <span>Contact Us</span>
        </a>

        <div fxLayout="row"
             fxLayoutAlign="start center"
             fxHide
             fxShow.gt-xs>
            <a mat-button
               routerLink="/">&copy; 2019 Rescue Kick</a>
        </div>

    </div>

</mat-toolbar>