<div class="page-layout blank p-24"
     fusePerfectScrollbar>

  <h2>Home</h2>

  <div fxLayout="column"
       fxLayoutAlign="start"
       fxLayout.gt-sm="row"
       fxLayoutAlign.gt-sm="start start">

    <!-- Total Adoptions -->
    <div class="widget"
         fxFlex="100"
         fxFlex.gt-sm="33">

      <div class="fuse-card auto-width mb-32"
           [ngClass.gt-sm]="'mb-0 mr-32'">

        <div class="p-16"
             fxLayout="row wrap"
             fxLayoutAlign="start center">

          <div class="font-size-54 red-500-fg mr-16">
            <mat-icon inline>favorite</mat-icon>
          </div>

          <div class="pr-16">
            <div class="font-size-20 font-weight-500 red-500-fg">
              3,023
            </div>
            <div class="secondary-text">Total Adoptions</div>

          </div>

        </div>

      </div>

    </div>

    <!-- # of Applicants -->
    <div class="widget"
         fxFlex="100"
         fxFlex.gt-sm="33">

      <div class="fuse-card auto-width mb-32"
           [ngClass.gt-sm]="'mb-0 mr-32'">

        <div class="p-16"
             fxLayout="row wrap"
             fxLayoutAlign="start center">

          <div class="font-size-54 purple-300-fg mr-16">
            <mat-icon inline>person_outline</mat-icon>
          </div>

          <div class="pr-16">
            <div class="font-size-20 font-weight-500 purple-300-fg">
              6,095
            </div>
            <div class="secondary-text"># of Applications</div>

          </div>

        </div>

      </div>

    </div>

    <!-- Growth -->
    <div class="widget"
         fxFlex="100"
         fxFlex.gt-sm="33">

      <div class="fuse-card auto-width mb-32"
           [ngClass.gt-sm]="'mb-0 mr-32'">

        <div class="p-16"
             fxLayout="row wrap"
             fxLayoutAlign="start center">

          <div class="font-size-54 light-green-500-fg mr-16">
            <mat-icon inline>trending_up</mat-icon>
          </div>

          <div class="pr-16">
            <div class="font-size-20 font-weight-500 light-green-500-fg">
              2.0%
            </div>
            <div class="secondary-text">Growth</div>

          </div>

        </div>

      </div>

    </div>

  </div>